.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.discover-carousel {
  display: flex;
  overflow-x: scroll;
}

.discover-carousel::-webkit-scrollbar {
  display: none;
}

.discover-carousel-profiles {
  margin: 20px;
}